<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mobiolak.harimakila"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.mobiolak.harimakila.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordPoints"
            android:label="Grabación de puntos para el paseo"
            android:parentActivityName="org.mobiolak.harimakila.Main">
            <intent-filter>
                <action android:name="org.mobiolak.harimakila.RecordPoints" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mobiolak.harimakila.Main" />
        </activity>
        <activity android:name=".PlayWalk"
            android:label="@string/title_activity_play_walk"
            android:parentActivityName="org.mobiolak.harimakila.Main">
            <intent-filter>
                <action android:name="org.mobiolak.harimakila.PlayWalk" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mobiolak.harimakila.Main" />
        </activity>
    </application>

</manifest>






